@import "../UserProfile/profiledesign";



.myEvent-modal {
    background-color: #fff7ed;
}

.myevent-footer {
    background: linear-gradient(87deg, rgb(94, 114, 228) 0, rgb(65, 179, 163) 100%) !important;
}

.myevent-header {
    background: linear-gradient(87deg, rgb(94, 114, 228) 0, rgb(65, 179, 163) 100%) !important;
}

.myevent-img {
    height: 100px;
    width: 100px;
}
.myevent-btn {
   background-color: rgb(94, 114, 228);
}