@import "../UserProfile/profiledesign";



.myEvent-modal {
    background-color: #fff7ed;
}

.myevent-footer {
    background: linear-gradient(87deg, rgb(226, 125, 96) 0, rgb(0, 64, 128) 100%) !important;
}

.myevent-header {
    background: linear-gradient(87deg, rgb(226, 125, 96) 0, rgb(0, 64, 128) 100%) !important;
}

.myevent-img {
    height: 100px;
    width: 100px;
}
.myevent-btn {
   background-color: rgb(226, 125, 96);
}

.main-content {
    background: linear-gradient(87deg, rgb(226, 125, 96) 0, rgb(0, 64, 128) 100%) !important;
    height: 966px;
}