$font-style: 'Poppins', sans-serif;
$neutral-yellow: #85dcba;
body {
	font-family: $neutral-yellow;
	/* background-color: #85dcba; */
	background-color: #fff7ed !important;

	background-repeat: repeat;
	background-size: cover;
	width: auto;
	height: 100vh;
}

// html {
// 	background: red; /* fallback color */
// 	background: linear-gradient(to bottom, red, blue);
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	width: 100%;
// 	height: 100%;
// }

.signup {
	padding-top: 100px;
}
.signupForm {
	background-color: rgb(194, 193, 191);
	border: 0.5px solid grey;
	border-radius: 20px;
	padding: 10px;
	font-family: inherit;
	font-size: 20px;
	box-shadow: 10px 10px 5px grey;
	font-style: italic;
}
