$font-style: 'Poppins', sans-serif;
$neutral-green: #85dcba;
body {
	/* background-color: #85dcba; */
	background-color: #fff7ed !important;
	background-repeat: repeat;
	background-size: cover;
	width: auto;
	height: 100vh;
	overflow-x: hidden;
	font-family: 'Libre Baskerville', serif;
	
}

.signup {
	padding-top: 100px;
}
.signupForm {
	background-color: rgb(194, 193, 191);
	border: 0.5px solid grey;
	border-radius: 20px;
	padding: 10px;
	font-family: inherit;
	box-shadow: 10px 10px 5px grey;
	font-style: italic;
}
