@import "./svgstyles";

.carousel-inner > .carousel-item > img {
	height: 18rem;
}

.homepage {
	border-style: double;
	border-color: #e27d60;
	border-width: 2rem;
}

.homepgCardBackground {
	border-style: solid;
	border-radius: 5px;
	border-color: #e27d60;
}

