@import "./svgstyles";
$neutral-green:  #85dcba;
$light-orange: #daad86;
$orange: #e27d60;

.carousel-inner > .carousel-item > img {
	height: 25rem;
}
.ice-caps {
	height: 300px;
	width: 350px;
}

.homepage {
	border-style: solid;
	border-color: $orange;
	border-width: 1rem;
	margin-top: 0 !important;
}

.homepgCardBackground {
background-color: $orange;
}

.greenHcard {
	background: $neutral-green;
}
.orangeHcard {
	background: $light-orange;
}

.icon-Hsize {
	width: 50px;
	height: 50px;
}
.h1-Hstyle {
	background: #1261A0;
	padding: 2rem;
}

@media (min-width:320px) and (max-width:1023px) {
	#svg2 {
		max-width: 100% !important;
	} 
	#svg1 {
		max-width: 100% !important;
	}

}