$orange: #e27d60;
$dark-blue: #004080;

.signup-Rstyle {
    border: #e27d60 !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: $orange;
}

.profile-button {
    background: $dark-blue !important;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: $orange;
}

.profile-button:focus {
    background: $orange;
    box-shadow: none
}

.profile-button:active {
    background: $orange;
    box-shadow: none
}

.back:hover {
    color: $orange;
    cursor: pointer
}

.editFormlabels {
    font-size: 15px
}

.add-experience:hover {
    background: $orange;
    color: #fff;
    cursor: pointer;
    border: solid 1px $orange;
}