@import "./eventcardtimer";

$light-green: #85dcba;

.background-img {
	background-image: url("https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1378&q=80");
	background-size: cover;
	background-position: center;

	height: 500px;
}

.event-img {
	width: 400px;
	height: auto;
}

// *,
// .continer {
// 	box-sizing: unset !important;
// }

.container-fluid {
	padding: 0 !important;
}

.home-info-section {
	padding: 150px 10px 60px 0px;
	background-color: #004080;
}
.home-info-section2 {
	padding:  10px 60px 0px;
	background-color: #004080;
}

.home-info-section figure img {
	max-width: 100%;
}
img {
	vertical-align: baseline;
}
.entry-header {
	box-sizing: border-box;
}
.host-img {
	height: 400px;
	width: 325px;
}

.google-map {
	width: 500px;
}

.location-cardStyle {
	background-color: $light-green;
}

.map-style {
	border-style: solid;
	border-width: .25em;
	border-color: $light-green;
}
.style-contact-person {
	background-color: transparent;
	width: max-content;
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.carousel-slider {
	margin-left: auto!important;
	margin-right: auto!important;
}

.legend {
	font-size: x-large !important;
}

.review-card {
	background-color:#E27d60 ;
}