.entire-container {
  background-color: #000d07;
}

#jumbotron-rain {
  background-size: contain;
  margin-bottom: unset !important;
  height: 300px;
}

.under-rain {
  background: #000d07;
  width: 100%;
}

.forest-fire-card {
  background-color: #000d07 !important;
}

.mo-fire svg {
  width: 100%;
  height: 200px;
  position: relative;
}

.flame {
  -webkit-animation-name: flamefly;
          animation-name: flamefly;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0;
  -webkit-transform-origin: 50% 50% 0;
          transform-origin: 50% 50% 0;
}

.flame.one {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.flame3.two {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.flame-main {
  -webkit-animation-name: flameWobble;
          animation-name: flameWobble;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.flame-main.one {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.flame-main.two {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.flame-main.three {
  -webkit-animation-duration: 2.1s;
          animation-duration: 2.1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.flame-main.four {
  -webkit-animation-duration: 3.2s;
          animation-duration: 3.2s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.flame-main.five {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes flameWobble {
  50% {
    -webkit-transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg);
            transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg);
  }
}

@keyframes flameWobble {
  50% {
    -webkit-transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg);
            transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg);
  }
}

@-webkit-keyframes flamefly {
  0% {
    -webkit-transform: translate(0) rotate(180deg);
            transform: translate(0) rotate(180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-20px, -100px) rotate(180deg);
            transform: translate(-20px, -100px) rotate(180deg);
    opacity: 0;
  }
}

@keyframes flamefly {
  0% {
    -webkit-transform: translate(0) rotate(180deg);
            transform: translate(0) rotate(180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-20px, -100px) rotate(180deg);
            transform: translate(-20px, -100px) rotate(180deg);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */