// html,
// body {
// 	height: 100%;
// }
// body {
// 	overflow: hidden;
// }

// animation variables

$sea: sea;
$opposite: opposite;

$speed1: $sea 15s linear infinite;
$speed2: $sea 40s linear infinite;
$speed3: $opposite 23s cubic-bezier(0.41, 0.49, 0.6, 0.61) infinite;
$speed4: $sea 39s cubic-bezier(0.27, 0.34, 0.92, 0.54) infinite;
$speed5: $opposite 50s linear infinite;

// keyframe variables

$initial: 0, 0;
$forwards: 100%, 0;

// mixins

@mixin animation($animation) {
	animation: $animation;
	-webkit-animation: $animation;
	-moz-animation: $animation;
	-o-animation: $animation;
}

@mixin keyframes($animation-name) {
	@keyframes #{$animation-name} {
		@content;
	}
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
}

@mixin translate2d($positions) {
	transform: translate($positions);
	-webkit-transform: translate($positions);
	-moz-transform: translate($positions);
	-o-transform: translate($positions);
	-ms-transform: translate($positions);
}

@mixin rotate2d($degrees) {
	transform: rotate($degrees);
	-webkit-transform: rotate($degrees);
	-mox-transform: rotate($degrees);
	-o-transform: rotate($degrees);
	-ms-transform: rotate($degrees);
}

// sea background

#parallax {
	background: url(http://www.verydanny.com/images/parallax.svg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

// layer configuration, first visible, lowest

// school of fish
.layer1 {
	position: absolute;
	bottom: 0;
	background: url(https://i.imgur.com/9nS3unI.png) no-repeat;
	width: 100%;
	height: 23.125rem;
}
// fish + jellyfish
.layer2 {
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(https://i.imgur.com/sv3tlLN.png) no-repeat;
	width: 100%;
	height: 23.75rem;
}
// coral layer 1
.layer3 {
	position: absolute;
	bottom: 0;
	background: url(https://i.imgur.com/19KVfUH.png) no-repeat;
	width: 100%;
	height: 26.875rem;
}
// diver man
.layer4 {
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(https://i.imgur.com/WPSu7Ri.png) no-repeat;
	width: 100%;
	height: 34.875rem;
}
// fish by diver
.layer5 {
	position: absolute;
	bottom: 0;
	background: url(https://i.imgur.com/3R0Ucvf.png) no-repeat;
	width: 100%;
	height: 16.75rem;
}
// coral layer 2
.layer6 {
	position: absolute;
	bottom: 0;
	background: url(https://i.imgur.com/PSS8jTE.png) no-repeat;
	width: 100%;
	height: 28.125rem;
}
// seahorse
.layer7 {
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(https://i.imgur.com/xFyQcW5.png) no-repeat;
	width: 100%;
	height: 13.875rem;
}
// coral layer 3 (top most)
.layer8 {
	position: absolute;
	bottom: 0;
	background: url(https://i.imgur.com/49oo6kw.png) no-repeat;
	width: 100%;
	height: 21.875rem;
}
// 3 fish
.layer9 {
	position: absolute;
	bottom: 0;
	background: url(https://i.imgur.com/K2AlZ3J.png) no-repeat;
	width: 100%;
	height: 15.625rem;
}

// animation information

.speed1 {
	@include animation($speed1);
}
.speed2 {
	@include animation($speed2);
}
.speed3 {
	@include animation($speed3);
}
.speed4 {
	@include animation($speed4);
}
.speed5 {
	@include animation($speed5);
}

// keyframe information

@include keyframes($sea) {
	0% {
		@include translate2d($initial);
	}
	100% {
		@include translate2d($forwards);
	}
}

@include keyframes($opposite) {
	0% {
		@include translate2d($forwards);
	}
	100% {
		@include translate2d($initial);
	}
}
