@import "./animatedOcean";

$sand-color: #fff7ed;
$ocean-blue-color: #004080;

#card-image {
	width: 18rem;
}
.body-color {
	background-color: $sand-color !important;
}

.card-header {
	border: 4px;
	border-style: solid;
	border-color: $ocean-blue-color;
}

.ocean-floor-img {
	height: 600px;
}

.oceanParticles {
	position: absolute !important;
	width: 100%;
}
.diver {
	position: absolute;
	height: 50px;
	top: 20%;
	animation: animateForward 50s linear infinite;
}

@keyframes animateForward {
	0% {
		transform: translateY(-50px);
		left: -25%;
	}
	25% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(50px);
	}
	75% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-50px);
		left: 110%;
	}
}

@keyframes animateBackward {
	0% {
		transform: translateY(-50px);
		right: -25%;
	}
	25% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(50px);
	}
	75% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-50px);
		right: 110%;
	}
}
