.amplify-section-header,
.amplify-section-body {
	display: none !important;
}

.amplify-section-footer-content form > input {
	display: none;
}

.envirabot {
	position: fixed;
	top: 65%;
	left: 80%;
	max-width: 10vw;
	max-height: 40vh;
}
