.carouselButtonLeft {
  position: absolute;
  border: none;
  border-radius: 10px;
  top: 225px;
  left: -45px;
}

.carouselButtonRight {
  position: absolute;
  border: none;
  border-radius: 10px;
  top: 225px;
  right: -45px;
}
