// .nav-item {
//   font-size: 24px;
//   color: #32325d;
// }

#jumbo2 {
  border: none;
  padding: 0px;
  border-radius: 0px;
  background-image: url(https://images.unsplash.com/photo-1585495596846-f2818568f1a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
