$navbar-background-color: #e27d60;
$navbar-color: #daad86;

/* Position and sizing of burger button */
.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 36px;
	top: 36px;
}
.background-login {
	background-color: $navbar-color !important;
}
.btn-login {
	background-color: #85dcba;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: #23628b;
}

/* General sidebar styles */
.bm-menu {
	background: $navbar-background-color;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #daad86;
}

/* Wrapper for item list */
.bm-item-list {
	color: #b8b7ad;
	height: 90% !important;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
	position: relative !important;
}

.about {
	padding: .5rem 1rem;
}

.nav-list li a {
	text-decoration: none;
	display: block;
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #515151 !important;
	color: #9d9d9d;
}

.nav-list > li > a {
	color: #c4c4c4;
	font-size: 14px;
	padding-left: 13px !important;
	border-bottom: 1px solid #585858;
}

.nav-list > li > a:hover {
	background-color: #444444;
}
